body {
  top: 0;
  left: 0;
  font-family:Courier New,Courier,sans-serif;
  background-image: url("babysbreath.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  overflow: hidden;
  color:rgb(236, 241, 241)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  font-size: 30px;
  text-align: center;
}

input {
  border-radius: 50%;
  border-style: dotted;
  width: 100px;
  height: 100px; 
  font-family:"Times New Roman", Times, serif;
  color: rgb(63, 69, 69);
  font-size: 20px;
  background-color: rgb(118, 186, 169);
}

.btn:hover {
background-color: rgb(170, 142, 142);
transform:  rotate(10deg);
}




